<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Neues Ereignis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form" action="index.html" method="post">
          <div class="row">

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="intput_name">Name des Ereignises</label>
                <input type="text" class="form-control" id="intput_name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="input_where">Ort</label>
                <input type="text" class="form-control" id="input_where" placeholder="Ort">
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="input_when">Anfang</label>
                <input type="date" class="form-control" id="input_when">
              </div>
              <div class="form-group">
                <label for="input_end">Anfang</label>
                <input type="date" class="form-control" id="input_end">
              </div>
            </div>

            <div class="col-xs-12">
              <hr>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="repetativ"> Ereignis ist einmalig
                </label>
              </div>
              <div class="col-xs-12">
                <div class="checkbox" id="daily">
                  <label>
                    <input type="checkbox"> Taeglich
                  </label>
                </div>
                <div class="checkbox" id="weekly">
                  <label>
                    <input type="checkbox"> Woechendlich
                  </label>
                </div>
                <div class="checkbox" id="anual">
                  <label>
                    <input type="checkbox"> Jaehrlich
                  </label>
                </div>

                <select multiple class="form-control" id="weekly_select">
                  <option>Mo</option>
                  <option>Di</option>
                  <option>Mi</option>
                  <option>Do</option>
                  <option>Fr</option>
                  <option>Sa</option>
                  <option>So</option>
                </select>
                <br>
                <select multiple class="form-control" id="monthly_select">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                </select>
                <br>
                <select multiple class="form-control" id="anual_select">
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                </select>
                <br>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <button type="submit" class="btn btn-default">Ok</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
<script type="text/javascript">
var selects = document.getElementsByTagName('select');
selects = [].slice.call(selects);
selects.forEach(function(s){
  s.style.display = 'none';
});

var checkboxes = document.getElementsByClassName('checkbox');
checkboxes = [].slice.call(checkboxes);
checkboxes.shift();
checkboxes.forEach(function(s){
  s.style.display = 'none';
});

document.getElementById('repetativ').onchange = function() {
  document.getElementById('daily').style.display = 'inherit';
  document.getElementById('weekly').style.display = 'inherit';
  document.getElementById('anual').style.display = 'inherit';
}

</script>
</html>
