
@{
    ViewBag.Title = "Calender";
    var dates = ViewBag.Days;
    int today = DateTime.Today.Month - 1;
}

<h2>Calender</h2>
@for(int c = 0;c<dates[today].Length;c++){
    <button>@dates[today][c].Day</button>
}