
@{
    ViewBag.Title = "OtherUser";
}

<h2>Andere Nutzer</h2>
<table>
    <tr>
        <th>Nutzername</th>
        <th>Online Status</th>
    </tr>
    <tr>
        <td>Philipp</td>
        <td>Offline</td>

        <td><button>Chat beginnen</button></td>
    </tr>
</table>

