
@{
    ViewBag.Title = "Schedule";
}

<h2>Termine</h2>
<table>
    <tr>
        <th>Datum  <button>Up</button><button>Down</button></th>
        <th>Uhrzeit<button>Up</button><button>Down</button></th>
        <th>Titel<button>Up</button><button>Down</button></th>
        <th>Priorität<button>Up</button><button>Down</button></th>
    </tr>
    <tr>
        <td>08.06.2017</td>
        <td>14:00</td>
        <td>VWW Präsentation</td>
        <td style="background-color:red"></td>
    </tr>
</table>

