@model IEnumerable<Model.User>

@{
    ViewBag.Title = "Mitarbeiter";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Mitarbeiter
        </th>
        <th>
            Online
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @String.Format("{1}, {0}", item.FirstName, item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOnline)
        </td>
    </tr>
}

</table>
