<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
  </startup>
  <system.serviceModel>
    <services>
      <service name ="Host.ChatService">
        <endpoint name=""
                  binding="wsDualHttpBinding"
                  contract="Host.IChatService">

        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>