<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 
    <system.serviceModel>
        <services>
            <service name="VWWService.WCFService">
                <endpoint address="http://localhost:8888/VWWService" binding="basicHttpBinding"
                    bindingConfiguration="" name="VWWService" contract="VWWService.IWCFService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>